/* common styles */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;  
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* end of common styles */

/* navbar */
/* sidebar */
.sidebar {
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;



    
    align-items: center;
    z-index: 10;
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition: all .4s;
}

.menu-icon:hover .line {
    width: 2.5rem;
}

.social-icons-list {
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 2rem;
    color: #777;
    transition: color .3s;
}

.social-link:hover {
    color: #deaa86;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #555;
}
/* end of sidebar */

/* navigation */
.navigation {
    position: fixed;
    left: -32rem;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)) ,url(../images/nav-bg.jpeg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    transition: left .8s cubic-bezier(1, 0, 0, 1);
}

.navigation-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    color: #deaa86;
    text-align: center;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 30rem;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, .3);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #deaa86;
    letter-spacing: .1rem;
    outline: none;
    border: .1rem solid #555;
    border-radius: 10rem;
    transition: background-color .3s;
}

.navigation-search-input:focus {
    background-color: rgba(0, 0, 0, .1);
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #deaa86;
    font-size: 1.7rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.navigation-search-btn:focus {
    outline: none;
}

.navigation-list {
    list-style: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation-item {
    position: relative;
}

.navigation-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s;
}

.navigation-link::before {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    left: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link::after {
    content: "";
    width: 0rem;
    height: .1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    right: -4rem;
    transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover {
    color: #deaa86;
}

.navigation-link:hover::before,
.navigation-link:hover::after {
    width: 3rem;
}

.copyright {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.checkbox:checked ~ .navigation {
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.5rem;
}
/* end of navigation */
/* end of navbar */

/* header */
.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)), url(../images/chess.jpg) center no-repeat;
    background-size: cover;
    
}

.logo {
    display: flex;
    cursor: pointer;
}

.chess-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7rem;
    font-weight: 400;
    color: #deaa86;
    letter-spacing: .2rem;
}

.banner {
    color: #ddd;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s;
}

.banner-paragraph {
    font-size: 3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}

/* common header */
.common-header {
    padding: 5rem;
    text-align: center;
    color: #b85d1c;
}

.common-heading {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
}

.small-underline {
    width: 9rem;
    height: .1rem;
    margin: 0 auto 1rem auto;
    background-color: #b85d1c;
}

.big-underline {
    width: 20rem;
    height: .1rem;
    margin: auto;
    background-color: #b85d1c;
}

.custom-underline {
    width: 20rem;
    height: .1rem;
    margin: auto;
    background-color: #b85d1c;
}



@keyframes anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* @media(min-width: 400px) {
    .header {
        margin-left: 8rem;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)), url(../images/chess.jpg) center no-repeat;
        background-size: cover;
        
    }

    .banner-heading{
        text-align: center;
    }
    .banner-paragraph{
        text-align: center;
    }

} */



/* end of header */

/* activities */

.activities {
    margin-left: 8rem;
    padding-bottom: 7rem;
    background-color: #15141b;
}

.activities-card-wrapper {
    display: flex;
    justify-content: space-around;
}

.activity-card {
    color: #eee;
    width: 30rem;
    display: flex;
    height: 30rem;
    background-color: #15141b;
}
.activity-info {
    padding: 0 2rem;
}

.activity-heading {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 1rem;
    text-align: center;
}


.activity-paragraph {
    font-size: 1.5rem;
    
}

.fees {
    font-size: 1.5rem;
}

/* @media(min-width: 400px) {
    .activities-card-wrapper{
        flex-direction: column;
        align-items: center;
        text-align: center;
        
        


    }
} */

/* end of activities */

/* about us */

.about-us {
    display: flex;
    color: #eee;
    background-color: #15141b;
}


.about-us-content {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    box-sizing: border-box;
    margin-top: 2rem;
}

.about-us-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #b85d1c;
}



.about-us-paragraph {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 5rem;
}




/* end of about us */

.posts {
    display: flex;
    flex-direction: row;
    justify-content: center; 

    
}


.list_ul {
  list-style-type: none; 
  justify-content: center;
  padding: 0; 
  margin: 0; 
  width: 80rem;
  
  

}

.list_ul li {
  border: 1px solid #ddd; 
  margin-top: -1rem;  
  padding: 2rem; 
  font-size: 1.5rem;
  background-color: #15141b;
  color: #eee;
  
}

.float-right {
    float: right;
}

/* @media(min-width: 400px) {
    .posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: min-content; 
        
        
    }
    .float-right {
        float: none;

} */

.list_ul{
    width: 80rem;
    align-items: center;
}

/* end of recent posts */

.gallery {
    grid-column: 1 / -1;
    grid-row: 7 / 8;
    display: grid;
    grid-template-columns: repeat(8, minmax(1rem, 1fr));
    grid-template-rows: repeat(4, 10vw);
    grid-gap: 1rem;
    margin-top: 5rem;
    background-color: #15141b;
    padding: 1.6rem 0;
    margin-bottom: 4rem;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    transition: opacity .5s;
    
}

.gallery-img:hover {
    opacity: 1;
}

.gallery-img-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.gallery-img-2 {
    grid-column: 3 / 6;
    grid-row: 1 / 3;
}

.gallery-img-3 {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
}

.gallery-img-4 {
    grid-column: 7 / 9;
    grid-row: 1 / 3;
}

.gallery-img-5 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.gallery-img-6 {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
}

.gallery-img-7 {
    grid-column: 6 / 7;
    grid-row: 2 / 4;
}

.gallery-img-8 {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
}

.gallery-img-9 {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.gallery-img-10 {
    grid-column: 3 / 5;
    grid-row:4 / 5;
}

.gallery-img-11 {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
}

.gallery-img-12 {
    grid-column: 7 / 9;
    grid-row: 3 / 5
}

/* @media(min-width: 400px){
    .gallery{
        grid-gap: 0rem
    }
} */
/* end of gallery */


/* footer */


.footer {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 4rem 8rem 0rem 8rem;
  color: #eee;
  background-color: #15141b;
  

}

.footer > * {
  flex:  1 100%;
  
  
  
}


.contact {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: goldenrod;
  margin: 1rem 0 3rem 0;

}


.nav__title {
  font-weight: 300;
  font-size: 2.5rem;
  color: goldenrod;
  margin: 1rem 0 3rem 0;
}

.footer address {
  font-style: normal;
  color: #eee;
  font-size: 1.4rem;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1.4rem;
  color: #000;
  background-color:#b85d1c;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
  
  

}

.footer li {
  line-height: 2em;
  margin-bottom: 2rem;
  
}

.footer a {
  text-decoration: none;
  
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
  
}


.nav__ul a {
  
  font-size: 1.4rem;
  font-weight: 300;
  color: #eee;
  
}

.copyright {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.4rem;

}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}


/* end of footer */

/* people */

/* 

.people-card-wrapper {
    display: flex;
    justify-content: space-evenly;
}


.people-card {
    background-color: #15141b;
    width: 40rem;
    display: flex;
}

.people-image-wrapper {
    margin: auto 0;
}

.people-image {
    width: 100px;
    height: 100px;
    margin-left: -1.3rem;
    border-radius: 50%;

}

.people-info {
    padding: 0 2rem;
}

.people-fullname {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
}

.people-paragraph-1 {
    font-size: 1.2rem;
    font-style: italic;
    color: #b85d1c;
}

.people-paragraph-2 {
    font-size: 1.3rem;
    font-style: italic;
} */




/* end of people */

@media(max-width: 500px){
    .navigation {
        width: 25rem;
    }
    .banner-heading{
        text-align: center;
    }
    .banner-paragraph{
        text-align: center;
    }
    .banner {
        height: 100%;
        margin-top: -10rem;
    }

    .banner-heading {
        font-size: 3rem;
    }

    .banner-paragraph {
        font-size: 2rem;
    }
    .activities-card-wrapper{
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }
    .activity-info{
        margin: 2rem;
    }
    .common-heading{
        text-align: center;
        font-size: 3rem;
    }
    .big-underline{
        width: 15rem;
    }
    .activity-paragraph{
        font-size: 1.5rem;
    }
    
    .list_ul{
        width:20rem;
        
    }
    .list_ul li{
        display: flex;
        flex-direction: column;
        
        font-size: 1.5rem;
        padding-left: 0rem;
        
    }
    .about-us-heading{
        font-size: 2.5rem;
        text-align: center;
    }
    .gallery{
        grid-gap: 0rem
        
    }
    .gallery-img{
        opacity: .7;
        
    }
    .copyright{
        text-align: center;
    }
    .footer__btn{
        padding: 0.3rem;
    }
    
  
}
